.one {
    background-color: #1abc9c;
}

.two {
    background-color: #3498db;
}

.three {
    background-color: #9b59b6;
}

.four {
    background-color: #f39c12;
}

.five {
    background-color: #e74c3c;
}